@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
.pt-serif-regular {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: italic;
  }
html{
    width: 100vw;
    overflow-x: hidden;
}
main{
    overflow-x: hidden;
}
body{
    margin-top: -159px;
}
header{
    position: sticky;
    top: 0; 
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.863);
}

#Filipe{
    color: white;
}
li>#s3>p{
    color: white;
}

#linha{
    margin-top: 3px;
    background-color: white;
    border-radius: 3px;
    transition: opacity 0.5s, height 0.5s;
    width: 50px;
    opacity: 0;
    height: 0;
    
    
}
#linha2{
    margin-top: 3px;
    background-color: white;
    border-radius: 3px;
    transition: opacity 0.5s, height 0.5s;
    width: 50px;
    opacity: 0;
    height: 0;
    
}
#linha3{
    margin-top: 3px;
    background-color: white;
    border-radius: 3px;
    transition: opacity 0.5s, height 0.5s;
    width: 50px;
    opacity: 1;
    height: 5px;
    
}
#s1:hover #linha {
    opacity: 1;
    height: 5px;
}
#s2:hover #linha2 {
    opacity: 1;
    height: 5px;
}
#s3:hover #linha3 {
    opacity: 0;
    height: 0;
}



#backgournd{
    height: 100vh;
    width: 100vw;
    background: url(../img/laboratorio.jpg) center center ;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 50000px 5000px 5000px 5000px rgba(0, 0, 0, 0.63);

}
#h1p{
    color: white;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50% , -50%);
    font-family: "Pacifico";
    font-size: 10vw;
    text-decoration: underline;
    filter: drop-shadow(5px 5px 5px black);
}

.h1{
    background-color: rgba(17, 17, 17, 0.836);
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    text-align: center;   
    color: white;
    margin-top: 25px;
    font-family: "Pacifico";
    text-decoration: underline;
    filter: drop-shadow(5px 5px 5px black);
}

.h2{
    background-color: rgb(233, 233, 233);
    padding: 10px 0px 15px 3vw;
    min-height: 60px;
    
}
.h2>p{
    margin-top: 10px;
}
h2{
    color: rgb(73, 73, 73);
    filter: drop-shadow(2px 2px 2px rgba(255, 255, 255, 0.616));
    font-family: "Lobster";
    font-size: 35px;
}
.h3{
    min-height: 60px;
    background-color: rgb(233, 233, 233);
}
.h3w{
    min-height: 80px;
    background-color:rgb(233, 233, 233);
    padding-left: 3vw;
}
h3{
    text-align: center;
    line-height: 60px;
    color: gray;
    text-decoration: underline;
    font-family: "Pacifico";
    font-size: 20px;

}
#verdediferente{
    width: 50vw;
    display: inline-block ;
    display: flex;
    min-height: 260px;
    flex-direction: column;
    align-items: center;
}
#vermelhodiferente{
    width: 50vw;
    display: inline-block;
    display: flex; 
    min-height: 260px;
    flex-direction: column;
    align-items: center;
}
#x{
    margin-bottom: 60px;
}
#y{
    margin-bottom: 60px;
}

.verde{
    background-color: green;
    width: 50vw;
    display: flex;
    min-height: 10px;
    padding-left: 3vw;
    padding-right: 3vw;
}
.vermelho{
    background-color: red;
    width: 50vw;
    display: inline-block ;
    min-height: 280px;
    padding-left: 3vw;
    padding-right: 3vw;
}
.imgmdiferente{
    margin: 10px auto 10px auto;
    max-height:300px; 
    max-width:400px;
    display: block;
}
.imgm{
    margin: 10px auto 10px auto;
    height:180px; 
    width:230px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.692));
    display: block;
    border-radius: 0px 10px 0px 10px;
    border: 0.5px solid rgba(0, 0, 0, 0.329);

}
.pequeno{
    margin: 10px auto 0px auto;
    font-size: 15px;
    font-family: "Caveat";
    filter: drop-shadow(0px 0px 0px black);
    width: 230px;
}
.textog{
    font-size: 20px;
    color: black;
    font-family: "PT Serif";
    filter: drop-shadow(1px 1px 1px rgba(235, 235, 235, 0.692));
    font-weight: lighter;
    margin: auto;
}
#massad,#moleculas{
    min-height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}
.pequeno2{
    color: rgba(248, 248, 248, 0.966);
    font-size: medium;
    filter: drop-shadow(2px 2px 2px rgb(71, 71, 71));
}
