@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
.pt-serif-regular {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: italic;
  }
html{
    width: 100vw;
    overflow-x: hidden;
}
main{
    overflow-x: hidden;
}
body{
    margin-top: -159px;
}
header{
    position: sticky;
    top: 0; 
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.863);
}

#Filipe{
    color: white;
}
li>#s3>p{
    color: white;
}

#linha{
    margin-top: 3px;
    background-color: white;
    border-radius: 3px;
    transition: opacity 0.5s, height 0.5s;
    width: 50px;
    opacity: 0;
    height: 0;
    
    
}
#linha2{
    margin-top: 3px;
    background-color: white;
    border-radius: 3px;
    transition: opacity 0.5s, height 0.5s;
    width: 50px;
    opacity: 0;
    height: 0;
    
}
#linha3{
    margin-top: 3px;
    background-color: white;
    border-radius: 3px;
    transition: opacity 0.5s, height 0.5s;
    width: 50px;
    opacity: 1;
    height: 5px;
    
}
#s1:hover #linha {
    opacity: 1;
    height: 5px;
}
#s2:hover #linha2 {
    opacity: 1;
    height: 5px;
}
#s3:hover #linha3 {
    opacity: 0;
    height: 0;
}



#backgournd{
    height: 100vh;
    width: 100vw;
    background: url(../img/análises-clínicas.jpg) center center ;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 50000px 5000px 5000px 5000px rgba(0, 0, 0, 0.719);

}
#h1p{
    color: white;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50% , -50%);
    font-family: "Pacifico";
    font-size: 10vw;
    text-decoration: underline;
    filter: drop-shadow(5px 5px 5px black);
}

.h1{
    background-color: rgb(17, 17, 17);
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    text-align: center;   
    color: white;
    margin-top: 25px;
    font-family: "Pacifico";
    text-decoration: underline;
    filter: drop-shadow(5px 5px 5px black);
}

.h2{
    background-color: rgb(233, 233, 233);
    padding: 10px 0px 15px 3vw;
    min-height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.h2>p{
    margin-top: 10px;
}
h2{
    color: rgb(73, 73, 73);
    font-family: "Lobster";
    font-size: 35px;
}
.h3{
    min-height: 60px;
    background-color: rgb(233, 233, 233);
}
.h3w{
    min-height: 80px;
    background-color:rgb(233, 233, 233);
    padding-left: 3vw;
}
h3{
    text-align: center;
    margin-top: 10px;
    line-height: 60px;
    color: gray;
    text-decoration: underline;
    font-family: "Pacifico";
    font-size: 20px;

}
#verdediferente{
    width: 50vw;
    display: inline-block ;
    display: flex;
    min-height: 260px;
    flex-direction: column;
    align-items: center;
}
#vermelhodiferente{
    width: 50vw;
    display: inline-block;
    display: flex; 
    min-height: 260px;
    flex-direction: column;
    align-items: center;
}

.verde{
    width: 50vw;
    display: flex;
    justify-content: center;
    min-height: 10px;
    flex-direction: column;
}
 
.vermelho{
    width: 50vw;
    display: inline-block ;
    min-height: 280px;
    padding-left: 3vw;
    padding-right: 3vw;
}
.imgesticada{
    margin: 30px auto 30px auto;
    max-height:400px; 
    max-width:300px;
    border-radius: 10px 15px 10px 15px;
    display: block;

}
.imgmdiferente{
    margin: 30px auto 30px auto;
    max-height:300px; 
    max-width:400px;
    border-radius: 10px 15px 10px 15px;
    display: block;

}
.imgm{
    margin: 10px auto 10px auto;
    height:180px; 
    width:230px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.692));
    display: block;
    border-radius: 10px 15px 10px 15px;
    border: 0.5px solid rgba(0, 0, 0, 0.329);

}
.pequeno{
    margin: 10px auto 0px auto;
    font-size: 15px;
    font-family: "Caveat";
    filter: drop-shadow(0px 0px 0px black);
    width: 230px;
}
.textog{
    font-size: 25px;
    color: rgba(0, 0, 0, 0.863);
    font-family: "PT Serif";
    line-height: 40px;
    font-weight: lighter;
    margin: 0px 3vw 0px 3vw;
}
#massad,#moleculas{
    min-height: 260px;
    display: flex;
    background-color: rgb(255, 255, 255);
}
.pequeno2{
    color: rgba(151, 151, 151, 0.966);
    font-size: medium;
    margin:0px 3vw 0px 3vw ;
}
.listas{
    line-height: 30px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.692);
    font-family: "PT Serif";
    font-weight: lighter;
    margin: 15px 3vw 15px 3vw;
}

#animação:hover{
    transition: 1s;
    transform: scale(120%);
}
#x{
    height: 25vh;
    width: 70vw;
    background: url(../img/Screenshot\ 2024-10-29\ 10.22.34.png) center center ;
    background-size: cover;
    box-shadow: inset 50000px 5000px 5000px 5000px rgba(0, 0, 0, 0.226);
    margin: 50px auto;
    border-radius: 20px;

}
