@media screen and (max-width: 750px) {
    main{
        overflow-x: hidden;
    }
    html{
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
    }
    #massad,#moleculas{
        min-height: 260px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .verde{
        width: 80vw;
        display: flex;
        margin-bottom: 10px;
        margin-top: 10px;
        
        min-height: 100px;
    }
    .vermelho{
        width: 80vw;
        display: flex; 
       flex-direction: column;
       align-items: center;
    }
    
    .pequeno{
        margin: auto;
    }
    .imgm{
        margin: 20px auto 20px auto;

    }
    .h2{
        padding-left: 10px;
    }
    .imgmdiferente{
        max-height:200px; 
        max-width:300px;
        margin-top: 35px;
    }
    .verdediferente>.imgmdiferente{
        margin-left: -5px;
    }
    .vermelhodiferente>.imgmdiferente{
        margin-left: -5px;
    }
    #x{
        display: block;
        width:fit-content ;
        height: 99px;
        background-color: rgba(128, 128, 128, 0.425);
        margin-bottom: 30px;
    }
    

    
    
    }
    
