@media screen and (max-width: 750px) {
    *{
        overflow-x: hidden;
    }
    html{
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
    }
    #massad,#moleculas{
        min-height: 260px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .verde{
        width: 80vw;
        display: flex;
        margin-bottom: 10px;
        margin-top: 10px;
        
        min-height: 100px;
    }
    .vermelho{
        width: 80vw;
        display: flex; 
       flex-direction: column;
       align-items: center;
    }
    
    .pequeno{
        margin: auto;
    }
    .imgm{
        margin: 20px auto 20px auto;

    }
    .h2{
        padding-left: 10px;
    }
    
    
    }
    
